.addchatuser{
    margin: 3rem auto 0rem;
    padding: 0px;
    width: 50%;
   }
 
.addchatuser>li{
     cursor: pointer;
   }
.addchatuser>li.active{
    border-bottom: 2px solid rgba(0, 0, 0, 0.616);
  }
.addchatuser>li:hover{
     border-bottom: 2px solid rgba(0, 0, 0, 0.616);
   }
 
@media screen and (max-width : 750px){
     .addchatuser{
      width: 100% !important;
     }
   }
 
@media screen and (min-width : 1450px){
     .addchatuser{
      width: 30% !important;
     }
   }

#followerslistdiv{
    margin-top: 0px !important;
   }

#followinglistdiv{
    margin-top: 0px !important;
   }