.like-container{
    width: 100%;
    overflow-y: scroll;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 50px 6%;
}

.like-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px,1fr));
    grid-gap: 30px;
}
.like-gallery>img{
    width: 100%;
    border-radius: 15px;
    transition: all .3s ease-in-out;
   
}
.like-gallery>img:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.347);
    transform: scale(1.05);
}

.like-gallery.img-content{
    bottom: 0;
}