.form-white.input-group>.form-control:focus {
    border-color: rgb(255, 255, 255);
    box-shadow:  2px 2px 4px 0px rgba(103, 102, 102, 0.28);
  }
  
  nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #fff !important;
  }
  
  @media screen and (min-width: 992px) {
    li.nav-item.me-3.me-lg-0.dropdown{
    margin-right: 0.7rem !important;
  }
  }
  
  
  .navbar-brand{
    margin-left: 1rem !important;
    margin-right: 4rem !important;
  }
  
  span.badge.rounded-pill.badge-notification.bg-danger{
    padding: 2px 4.5px 2px 4.5px;
  }